@tailwind base;
@tailwind components;
@tailwind utilities;

/* No need to import Google Fonts here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif; /* Ensure fallback font */
}

.max-w-screen-1920 {
  max-width: 1790px;
  margin-left: auto;
  margin-right: auto;
}

@layer utilities {
  .btn_white {
    @apply border-white bg-white px-8 py-3 text-green-50;
  }
  .btn_white_text {
    @apply border-white bg-white px-8 py-3 text-gray-90;
  }
  .btn_green {
    @apply border-green-50 bg-green-50 px-8 py-5 text-white;
  }
  .btn_dark_green {
    @apply bg-green-600 px-8 py-4 text-white transition-all hover:bg-black;
  }
  .btn_dark_green_outline {
    @apply border-gray-20 bg-green-90 px-8 py-5 text-white;
  }

  .max-container {
    @apply mx-auto max-w-screen-1920;
  }

  .padding-container {
    @apply px-6 lg:px-20 xl:px-0;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  /* FONTS */
  .regular-64 {
    @apply text-4xl font-normal leading-1.2;
  }

  .regular-40 {
    @apply text-2.5xl font-normal leading-1.2;
  }

  .regular-32 {
    @apply text-2xl font-normal;
  }

  .regular-24 {
    @apply text-lg font-normal;
  }

  .regular-20 {
    @apply text-base font-normal;
  }

  .regular-18 {
    @apply text-base font-normal;
  }

  .regular-16 {
    @apply text-sm font-normal;
  }

  .regular-14 {
    @apply text-sm font-normal;
  }

  .medium-14 {
    @apply text-sm font-medium;
  }

  .bold-88 {
    @apply text-5.5xl font-semibold leading-1.2;
  }

  .bold-64 {
    @apply text-4xl font-semibold leading-1.2;
  }

  .bold-52 {
    @apply text-3.25xl font-semibold leading-1.2;
  }

  .bold-40 {
    @apply text-2.5xl font-semibold leading-1.2;
  }

  .bold-32 {
    @apply text-2xl font-semibold leading-1.2;
  }

  .bold-20 {
    @apply text-base font-semibold;
  }

  .bold-18 {
    @apply text-base font-semibold;
  }

  .bold-16 {
    @apply text-sm font-semibold;
  }

  /* Hero */
  .hero-map {
    @apply absolute right-0 top-0 h-screen w-screen bg-pattern-2 bg-cover bg-center md:right-auto md:-right-28 xl:-top-60;
  }

  /* Camp */
  .camp-quote {
    @apply absolute right-0 bottom-4 w-36 lg:w-48 lg:bottom-10 xl:-right-8 xl:w-48 3xl:right-0;
  }

  /* Feature */
  .feature-phone {
    @apply absolute top-1/8 z-10 hidden max-w-4xl rotate-15 md:left-0 md:-left-16 lg:flex 3xl:left-20;
  }

  /* Get App */
  .get-app {
    @apply max-w-screen-xl relative flex flex-col justify-between gap-8 overflow-hidden bg-green-90 bg-pattern bg-cover bg-center bg-no-repeat px-6 py-12 text-white sm:flex-row sm:gap-12 sm:py-24 lg:px-20 xl:max-h-96 2xl:rounded-5xl;
  }
}
